/*Selector de elemento, selecciona el elemento HTML especificado*/

/*En esta regla en especifico hemos definido una fuente base global y un tamanio fuente para usar en toda la pagina*/
html {
    font-size: 25px;
    font-family: "Nunito", Nunito;

    background-color: #F7F6F6;
}

body  {
    margin: 0 auto;
    background-color: #F7F6F6;
    padding: 20px 50px 30px;

    box-shadow: 5px 5px 15px gray;
    border-radius: 45px;

    width: 60%;
}

h1 {
    font-size: 60px;
    text-align: left;
    text-shadow: 3px 3px 3px gray;

    color: #303740;
}

p {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: justify;
}


/*Selector de identificacion ID, selecciona unicamente el elemento que tenga ese ID*/
#second-title {
    color: #CE2B44;
}

#principal-image {
    display: block; /*Con esta declaracion, convertimos este elemento de tipo inline a un elemento de bloque para que se le pueda aplicar el margen*/
    margin: 0 auto;

    box-shadow: 5px 2px 15px gray;
}

#links-section-title {
    color: #AD292D;
}

/*Selector de clase, se aplica a todos los elementos HTML que tengan la misma clase*/
.titulosH3 {
    font-size: larger;
    font-weight: bolder;
    color: #063970;
}

/* Selector de atributo, se aplicara a los elementos que tengan el atributo especificado
img[src] {
    box-shadow: 5px 5px 15px;
}

/*Selector de pseudoclase, se aplicara a los elementos especificados, pero solamente en el estado especificado
img[src]:hover {
    box-shadow: 2px 2px 15px yellow;
} */

.social-networks:hover {
    transform: scale(1.2);
    z-index: 5;
    transition: 0.5s;
}