@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300&family=Cherry+Bomb+One&family=DM+Sans:opsz@9..40&family=Nunito:wght@400;700&family=Open+Sans&family=Poppins&family=Raleway:wght@100;300;400&family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');
/*Variables*/
$super-container-background: #f9fafe;
$main-card-background: #ffffff; 
$main-title-color: #13151c;
$notification-box-color: #f6fafd;
$mark-read-text-color: #828185;   
$little-tiny-box-background:#063274; 


$main-font: 'Raleway', sans-serif;
$secondary-text-color:#858c95;