@use '../base/variables' as v;

@mixin flex-orientation {
    display: flex;

    justify-content: center;
    align-items: center;
}

.main-card {
    background-color: v.$main-card-background;

    // height: 85%;
    width: 40%;

    padding: 25px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


    header {
        display: flex;
        flex-direction: row;
        
        justify-content: space-between;

        .main-title {
            display: flex;
            flex-direction: row;
            
            gap: 0.5rem;
            align-items: center;

            #little-tiny-box {
                background-color: v.$little-tiny-box-background;
                color: white;

                width: 2rem;
                height: auto;

                padding: 5px;
                box-sizing: border-box;

                border-radius: 5px;

                @include flex-orientation();
            }
        }
    }
}