@use '../base/variables' as v;

.notification-box {
    background-color: v.$notification-box-color;
    padding: 10px;
    margin: 20px 10px;

    display: flex;
    flex-direction: row;

    line-height: 0.2rem;
    height: 40px;

    align-items: center;

    .notification-text-content {
        display: flex;
        flex-direction: column;
    }
}

.opened-notification-box {
    padding: 10px;
    margin: 20px 10px;

    display: flex;
    flex-direction: row;

    line-height: 0.2rem;
    height: 40px;

    align-items: center;

    .notification-text-content {
        display: flex;
        flex-direction: column;
    }

    .message-box {
        height: 100%;
        width: 100%;

        box-sizing: border-box;
        margin: 20px;
        font-size: 10px;

        border: 1px solid gray;
    }
}