@use '../base/variables' as v;

.notification-box {
    background-color: v.$notification-box-color;
    padding: 10px;
    margin: 20px 10px;

    display: flex;
    flex-direction: column;

    line-height: 0.2rem;
    height: 40px;
}

.opened-notification-box {
    padding: 10px;
    margin: 20px 10px;

    display: flex;
    flex-direction: column;

    line-height: 0.2rem;
    height: 40px;
}